/*------------FONTS IMPORT--------------*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Nunito:wght@300;400;600;700&display=swap');


/*----------------VARIABLES---------------*/
:root {
    /*fonts*/
    --font-text: 'Nunito', sans-serif;
    --font-header: 'Lora', serif;
    /*colors*/
    --color-text-black: #2B2B2B;
    --color-text-white: #F0F0F0;
    --color-dark-grey: #828282;
    --color-light-grey: #AAAAAA;
    --color-accent-button: #0AA2AC;
    --color-price: #097178;
    /*font sizes*/
    --size-main-header: 2.25rem;
    --size-product-xl: 1.5rem;

}
/*-----------------ANIMATIONS---------------------*/
@keyframes first-screen-bg-breathe {
    0% {background-size: 100% auto;}
    50%{background-size: 120% auto;}
    100%{background-size: 100% auto;}
}

@keyframes first-screen-bg-breathe-mob {
    0% {background-size: auto 100%;}
    50%{background-size: auto 120%;}
    100%{background-size: auto 100%;}
}
/*----------GLOBAL CSS---------*/
html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-text-black);
    

}

h1, h2, h3, h4, h5 {
    font-family: var(--font-header);
    font-weight: 700;
}

a, a:visited, a:active {
    color: var(--color-text-black);
}

p {
    font-family: var(--font-text);
}


/*------------------HEADER---------------------*/

.main-navigation {
    font-family: var(--font-text);
    color: var(--color-text-white);
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    /* justify-content: space-between; */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
}
.main-navigation .logo img {
    width: 4.4rem;
    height: 4.4rem;
    margin: .5rem;
}

.main-navigation nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.main-navigation nav ul li {
    margin-left: 2rem;
    color: var(--color-text-white);
}




.header-wrapper {
    position: relative;
}
.header-nav {
    font-family: var(--font-text);
    color: var(--color-text-white);
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
}
.header-nav .show {
    background: rgba(0, 0, 0, .6);
}
.header-nav .nav-item {
    font-weight: 600;
    font-size: 1rem;
    margin-left: 1rem;
    
}

.header-nav .navbar-nav {
    margin-left: 5rem;
}
.header-nav .navbar-nav .phone-number{
    color: var(--color-text-white);
}
.header-nav a, .header-nav a:visited {
    color: var(--color-text-white);
}
.header-nav a:hover {
    text-shadow: 0 0 0.6px var(--color-text-white),
                 0 0 0.6px var(--color-text-white);
    text-shadow: 0 0 0.8px var(--color-text-white),
                 0 0 0.8px var(--color-text-white);
}
.header-nav .navbar-toggler {
    color: var(--color-text-white);
    background: var(--color-accent-button);
    width: 3.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}
/*----------------------FIRST SCREEN------------------*/
.first-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url(../img/first-screen-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    box-shadow: inset 4000px 4000px rgba(0, 0, 0, .4);
    animation: first-screen-bg-breathe 30s linear infinite;
}
.first-screen .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first-screen .title-wrapper img {
    margin-top: auto;
    width: 100%;
}
.first-screen .title-wrapper h3 {
    color: var(--color-text-white);
    font-size: 1.1rem;
    font-family: var(--font-text);
}

.first-screen .title-wrapper .shop-btn {
    width: 11.5rem;
    height: 3rem;
    border-radius: 1.5rem;
    background: var(--color-accent-button);
    color: var(--color-text-white);
    font-size: 1.1rem;
    outline: none;
    border: none;
    transition: all .2s;
    margin-top: 2rem;
}
.first-screen .title-wrapper .shop-btn:hover {
    box-shadow: 4px 5px 20px rgba(0, 0, 0, .4);
    transition: all .2s;
}
.first-screen .arrow-wrapper {
    display: block;
    margin-top: auto;
    margin-bottom: 3rem;
}
.first-screen .arrow-wrapper .arrow-down {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../img/icons/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    
    transition: all .25s;
    cursor: pointer;
}
.first-screen .arrow-wrapper .arrow-down:hover {
    transform: translateY(.5rem);
    transition: all .25s;
}
.first-screen .arrow-wrapper img {
    height: 1.5rem;
    width: 1.5rem;
}
/*---------------------CATALOG--------------------*/

.content-block h2 {
    font-size: 2.25rem;
    margin-bottom: 1.6rem;
    margin-top: 3rem;
}

/* categories block */

.categories-block .category-card .c-card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px;
    margin-bottom: 1rem;
    background-color: #8AB2B5;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: inset 600px 600px rgba(0, 0, 0, 0.4);
    padding: .5rem;
    cursor: pointer;
    transition: all .25s;
}
.categories-block .category-card .c-card:after{
    content: '';
    display: block;
    padding-bottom: 100%;
}
.categories-block .category-card .c-card:hover {
    transform: translateY(-.5rem);
    transition: all .25s;
}

.categories-block .category-card .c-card h3 {
    font-size: 1.5rem;
    text-align: center;
    color: #F0F0F0;
    font-family: var(--text-font);
    font-weight: 400;

}
/* categories cards background images */
.categories-block .category-card .bed-linen {
    background-image: url(../img/categories/bed-linen.jpg);
}
.categories-block .category-card .pillowcases {
    background-image: url(../img/categories/pillowcases.jpg);
}
.categories-block .category-card .covers {
    background-image: url(../img/categories/covers.jpg);
}
.categories-block .category-card .towels {
    background-image: url(../img/categories/towels.jpg);
}
.categories-block .category-card .carpets {
    background-image: url(../img/categories/carpets.jpg);
}
.categories-block .category-card .bathrobes {
    background-image: url(../img/categories/bathrobes.jpg);
}

/*--------------------ABOUT------------------------*/

.about-block .about-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-text-white);
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 100% !important;
    border-radius: 10px;
    min-height: 200px;
    margin-top: 1.8rem;
    padding: 2rem;
    box-shadow: inset 1000px 1000px rgba(0, 0, 0, .4);
    cursor: pointer;
    transition: background-size .3s;
}
.about-block .about-card:hover {
    background-size: 110% !important;
    box-shadow: inset 1000px 1000px rgba(0, 0, 0, .6);
    transition: background-size .3s;
}
.about-block .about-us {
    background: url(../img/about/about-us.jpg);
}
.about-block .about-cloth {
    background: url(../img/about/about-cloth.jpg);
}
.about-block .about-card h3 {
    font-family: var(--font-header);
    font-weight: 700;
    font-size: 2rem;
}
.about-block .about-card p {
    font-family: var(--font-text);
    line-height: 1.2;
}
.about-block .about-card a button {
    width: 11.5rem;
    height: 2.4rem;
    border-radius: 1.5rem;
    background: var(--color-accent-button);
    color: var(--color-text-white);
    font-size: 1rem;
    outline: none;
    border: none;
    transition: all .2s;
    
}
.about-block .about-card a button:hover {
    transform: scale(1.08);
    transition: all .2s;
}

/*---------------PRODUCTS-----------------*/

.products .product-card img {
    width: 100%;
    border-radius: 10px;
    position: relative;
    
}
.products .product-data {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-16%, -50%);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 1rem;
    font-family: var(--font-text);
    opacity: 0;
    transition: all .25s;
}
.products .product-card:hover .product-data {
    opacity: 1;
    transition: all .25s;
}
.products .product-data .color-vars {
    display: flex;
    margin-bottom: .5rem;
}

.products .product-data .color-vars .color {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: .5rem;
}
.products .product-data .color-vars .color-1 {
    background-color:#C69518;       
}
.products .product-data .color-vars .color-2 {
    background-color:#745743;       
}
.products .product-data .color-vars .color-3 {
    background-color:#2D4686;       
}

.products .product-data h3 {
    font-size: 1.1rem;
    font-family: var(--font-text);
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1;
}
.products .product-data p {
    font-size: .9rem;
    color: #828282;
    margin-top: .5rem;
    margin-bottom: .5rem;
    line-height: 1;
}
.products .product-data .price {
    font-size: 1.5rem;
    color: var(--color-price);
}
/*-------------ADVANTAGES---------------*/
.advantages {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}
.advantages img {
    display: block;
    margin: 1rem auto .5rem auto;
}
.advantages p {
    font-size: 1.1rem;
}

/*-------------FOOTER------------------*/
.footer {
    background: #111;
    padding: 3rem;
    color: var(--color-text-white); 
}
.footer a {
    color: var(--color-text-white);
}
.footer h4 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.footer p {
    font-weight: 300;
    width: 80%;
}
.footer p b {
    font-weight: 700;
}
.footer ul {
    list-style-type: none;
    padding-left: 0;
}
.footer ul li {
    color: var(--color-text-white);
    margin-top: .5rem;
}
.footer .social-links {
    margin-top: 1rem;
}
.footer .social-links a {
    text-decoration: none;
    margin-right: 1rem;
}
.footer .social-links a img {
    height: 2.4rem;
    width: 2.4rem;
}

/*-----------MEDIAQUERIES-----------*/
@media (max-width: 1199.98px) { 
    .categories-block .category-card .c-card {
         min-height: 140px; 
    }

    .categories-block .category-card .c-card h3 {
        font-size: 1.2rem;
    }
 }

 @media (max-width: 769px) {
    /*-----------HEADER------------*/

    .main-navigation {
        background-color: #000000;
        height: auto;
        flex-direction: row;
    }
    
    .main-navigation nav ul {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: #000000;
    }


    .first-screen {
        background-size: auto 100%;
        animation: first-screen-bg-breathe-mob 30s linear infinite;
    }


    .categories-block .category-card .c-card h3 {
        font-size: 1.8rem;
    }

    .about-block .about-card {
        padding: 1rem;
        background-size: 110% !important;
        box-shadow: inset 1000px 1000px rgba(0, 0, 0, .5);
    }

    .products .product-card {
        margin-top: 2rem;
    }
    .products .product-data {
        position: static;
        opacity: 1;
        background: none;
        transform: none;
        padding-left: 0;
    }
    .products .product-data p {
        margin-top: .25rem;
        margin-bottom: .25rem;
    }
  }

  @media (max-width: 576px) {

    .content-block  h2  {
        font-size: 1.6rem;
        margin-bottom: .25rem;
    }

    .categories-block {
        margin-top: 1rem;
    }
    
    .first-screen .title-wrapper h3 {
        font-size: 1rem;
        font-weight: 400;
    }

    .categories-block .category-card .c-card h3 {
        font-size: 1.4rem;
    }

    
    .about-block .about-card h3 {
        font-size: 1.6rem;
    }
    .about-block .about-card p {
        font-size: .8rem;
        line-height: 1.1;
        width: 100%;
    }
  }