/*------------FONTS IMPORT--------------*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Nunito:wght@300;400;600;700&display=swap');


/*----------------VARIABLES---------------*/
:root {
    /*fonts*/
    --font-text: 'Nunito', sans-serif;
    --font-header: 'Lora', serif;
    /*colors*/
    --color-text-black: #2B2B2B;
    --color-text-white: #F0F0F0;
    --color-dark-grey: #828282;
    --color-light-grey: #AAAAAA;
    --color-accent-button: #0AA2AC;
    --color-price: #097178;
    /*font sizes*/
    --size-main-header: 2.25rem;
    --size-product-xl: 1.5rem;

}
/*-----------------ANIMATIONS---------------------*/
@keyframes first-screen-bg-breathe {
    0% {background-size: 100% auto;}
    50%{background-size: 120% auto;}
    100%{background-size: 100% auto;}
}

@keyframes first-screen-bg-breathe-mob {
    0% {background-size: auto 100%;}
    50%{background-size: auto 120%;}
    100%{background-size: auto 100%;}
}
/*----------GLOBAL CSS---------*/
html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-text-black);
    

}

h1, h2, h3, h4, h5 {
    font-family: var(--font-header);
    font-weight: 700;
}

a, a:visited, a:active {
    color: var(--color-text-black);
}

p {
    font-family: var(--font-text);
}


/*------------------HEADER---------------------*/

.main-navigation {
    align-items: center;
    font-family: var(--font-text);
    color: var(--color-text-white);
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    /* justify-content: space-between; */
    width: 100%;
    min-height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
}
.main-navigation .lang-switch {
    position: absolute;
    top: .5rem;
    right: .5rem;
    
}
.main-navigation .lang-switch a {
    color: var(--color-text-white);
}
.main-navigation .logo img {
    width: 4.4rem;
    height: 4.4rem;
    margin: .5rem;
}

.main-navigation .nav-mobile {
    display: none;
}

.main-navigation nav ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}
.main-navigation nav ul a {
    text-decoration: none;
    opacity: .8;
}
.main-navigation nav ul a:hover {
    text-shadow: 0 0 0.6px var(--color-text-white),
                 0 0 0.6px var(--color-text-white);
    text-shadow: 0 0 0.8px var(--color-text-white),
                 0 0 0.8px var(--color-text-white);
                 opacity: 1;
    transition: all .25s;
}

.main-navigation nav ul li {
    font-size: 1rem;
    margin-left: 1.8rem;
    color: var(--color-text-white);
}


.main-navigation .cart-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-navigation .cart-block .cart img {
    height: 2rem;
    width: 2rem;
}
.main-navigation .cart-block .mob-menu-btn,
.main-navigation .cart-block .close-mob-menu-btn {
    display: none;
    width: 55px;
    height: 40px;
    border-radius: 5px;
    background: var(--color-accent-button);
}
.main-navigation .cart-block .mob-menu-btn img {
    width: 1.5rem;
    height: 1.5rem;
}
.main-navigation .cart-block .close-mob-menu-btn img {
    width: 2rem;
    height: 2rem;
}






.header-wrapper {
    position: relative;
}
.header-nav {
    font-family: var(--font-text);
    color: var(--color-text-white);
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
}
.header-nav .show {
    background: rgba(0, 0, 0, .6);
}
.header-nav .nav-item {
    font-weight: 600;
    font-size: 1rem;
    margin-left: 1rem;
    
}

.header-nav .navbar-nav {
    margin-left: 5rem;
}
.header-nav .navbar-nav .phone-number{
    color: var(--color-text-white);
}
.header-nav a, .header-nav a:visited {
    color: var(--color-text-white);
}
.header-nav a:hover {
    text-shadow: 0 0 0.6px var(--color-text-white),
                 0 0 0.6px var(--color-text-white);
    text-shadow: 0 0 0.8px var(--color-text-white),
                 0 0 0.8px var(--color-text-white);
}
.header-nav .navbar-toggler {
    color: var(--color-text-white);
    background: var(--color-accent-button);
    width: 3.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}

/************************************/
/************* MAIN PAGE ************/
/***********************************/


/*----------------------FIRST SCREEN------------------*/
.first-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url(../img/first-screen-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    box-shadow: inset 4000px 4000px rgba(0, 0, 0, .4);
    animation: first-screen-bg-breathe 30s linear infinite;
}
.first-screen .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first-screen .title-wrapper img {
    margin-top: auto;
    width: 100%;
}
.first-screen .title-wrapper h3 {
    color: var(--color-text-white);
    font-size: 1.1rem;
    font-family: var(--font-text);
}

.first-screen .title-wrapper .shop-btn {
    width: 11.5rem;
    height: 3rem;
    border-radius: 1.5rem;
    background: var(--color-accent-button);
    color: var(--color-text-white);
    font-size: 1.1rem;
    outline: none;
    border: none;
    transition: all .2s;
    margin-top: 2rem;
}
.first-screen .title-wrapper .shop-btn:hover {
    box-shadow: 4px 5px 20px rgba(0, 0, 0, .4);
    transition: all .2s;
}
.first-screen .arrow-wrapper {
    display: block;
    margin-top: auto;
    margin-bottom: 3rem;
}
.first-screen .arrow-wrapper .arrow-down {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    background-image: url(../img/icons/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    
    transition: all .25s;
    cursor: pointer;
}
.first-screen .arrow-wrapper .arrow-down:hover {
    transform: translateY(.5rem);
    transition: all .25s;
}
.first-screen .arrow-wrapper img {
    height: 1.5rem;
    width: 1.5rem;
}
/*---------------------CATALOG--------------------*/

.content-block h2 {
    font-size: 2.25rem;
    margin-bottom: 1.6rem;
    margin-top: 3rem;
}

/* categories block */
.categories-block a {
    text-decoration: none;
}
.categories-block .category-card .c-card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px;
    margin-bottom: 1rem;
    background-color: #8AB2B5;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: inset 600px 600px rgba(0, 0, 0, 0.4);
    padding: .5rem;
    cursor: pointer;
    transition: all .25s;
}
.categories-block .category-card .c-card:after{
    content: '';
    display: block;
    padding-bottom: 100%;
}
.categories-block .category-card .c-card:hover {
    transform: translateY(-.5rem);
    transition: all .25s;
}

.categories-block .category-card .c-card h3 {
    font-size: 1.5rem;
    text-align: center;
    color: #F0F0F0;
    font-family: var(--text-font);
    font-weight: 400;

}
/* categories cards background images */
.categories-block .category-card .bed-linen {
    background-image: url(../img/categories/bed-linen.jpg);
}
.categories-block .category-card .pillowcases {
    background-image: url(../img/categories/pillowcases.jpg);
}
.categories-block .category-card .covers {
    background-image: url(../img/categories/covers.jpg);
}
.categories-block .category-card .towels {
    background-image: url(../img/categories/towels.jpg);
}
.categories-block .category-card .carpets {
    background-image: url(../img/categories/carpets.jpg);
}
.categories-block .category-card .bathrobes {
    background-image: url(../img/categories/bathrobes.jpg);
}

/*--------------------ABOUT------------------------*/

.about-block .about-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-text-white);
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 100% !important;
    border-radius: 10px;
    min-height: 200px;
    margin-top: 1.8rem;
    padding: 2rem;
    box-shadow: inset 1000px 1000px rgba(0, 0, 0, .4);
    cursor: pointer;
    transition: background-size .3s;
}
.about-block .about-card:hover {
    background-size: 110% !important;
    box-shadow: inset 1000px 1000px rgba(0, 0, 0, .6);
    transition: background-size .3s;
}
.about-block .about-us {
    background: url(../img/about/about-us.jpg);
}
.about-block .about-cloth {
    background: url(../img/about/about-cloth.jpg);
}
.about-block .about-card h3 {
    font-family: var(--font-header);
    font-weight: 700;
    font-size: 2rem;
}
.about-block .about-card p {
    font-family: var(--font-text);
    line-height: 1.2;
}
.about-block .about-card a button {
    width: 11.5rem;
    height: 2.4rem;
    border-radius: 1.5rem;
    background: var(--color-accent-button);
    color: var(--color-text-white);
    font-size: 1rem;
    outline: none;
    border: none;
    transition: all .2s;
    
}
.about-block .about-card a button:hover {
    transform: scale(1.08);
    transition: all .2s;
}

/*---------------PRODUCTS-----------------*/

.products .product-card img {
    width: 100%;
    border-radius: 10px;
    position: relative;
    
}
.products .product-data {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-16%, -50%);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 1rem;
    font-family: var(--font-text);
    opacity: 0;
    transition: all .25s;
}
.products .product-card:hover .product-data {
    opacity: 1;
    transition: all .25s;
}
.products .product-data .color-vars {
    display: flex;
    margin-bottom: .5rem;
}

.products .product-data .color-vars .color {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: .5rem;
}
.products .product-data .color-vars .color-1 {
    background-color:#C69518;       
}
.products .product-data .color-vars .color-2 {
    background-color:#745743;       
}
.products .product-data .color-vars .color-3 {
    background-color:#2D4686;       
}

.products .product-data h3 {
    font-size: 1.1rem;
    font-family: var(--font-text);
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1;
}
.products .product-data p {
    font-size: .9rem;
    color: #828282;
    margin-top: .5rem;
    margin-bottom: .5rem;
    line-height: 1;
}
.products .product-data .price {
    font-size: 1.5rem;
    color: var(--color-price);
}
/*-------------ADVANTAGES---------------*/
.advantages {
    margin-top: 3.5rem;
}
.advantages img {
    display: block;
    margin: 1rem auto .5rem auto;
}
.advantages p {
    font-size: 1.1rem;
}

/*-------------FOOTER------------------*/
.footer {
    background: #111;
    padding: 3rem;
    color: var(--color-text-white); 
    margin-top: 3.5rem;
}
.footer a {
    color: var(--color-text-white);
}
.footer h4 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.footer p {
    font-weight: 300;
    width: 80%;
}
.footer p b {
    font-weight: 700;
}
.footer ul {
    list-style-type: none;
    padding-left: 0;
}
.footer ul li {
    color: var(--color-text-white);
    margin-top: .5rem;
}
.footer .social-links {
    margin-top: 1rem;
}
.footer .social-links a {
    text-decoration: none;
    margin-right: 1rem;
}
.footer .social-links a img {
    height: 2.4rem;
    width: 2.4rem;
}


/*****************************************/
/*************  CATEGORY PAGE ************/
/*****************************************/

/*header block*/
.category-header {
    color: var(--color-text-white);
    padding-top: 6rem;
    background: url(../img/categories/category-header/bed-linen.JPEG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: inset 3000px 3000px rgba(0, 0, 0, .6);
}
.category-header .category-title-wrapper {
    padding: 1.5rem;
}
.category-header .category-title-wrapper p {
    margin-top: 1rem;
    width: 80%;
}

/*bread crumbs and sort*/
.content-block .bread-crumbs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem .5rem 2rem .5rem;

}
.content-block .bread-crumbs p {
    color: #AAAAAA;
    margin-bottom: 0;
}
.content-block .bread-crumbs select {
    color: #AAAAAA;
    border: 1px solid #AAAAAA;
    font-family: var(--font-text);
    border-radius: 3px;
    background: transparent;
}

/*category product cards*/
.content-block .products a {
    text-decoration: none;
}
.content-block .products .category-product-card .product-data {
    position: static;
    opacity: 1;
    background: none;
    transform: none;
    padding-left: 0;
}
.content-block .products .category-product-card .product-data p {
    margin: .4rem 0;
}

.content-block .products .category-product-card .product-data h3 {
    line-height: 1.1;
}

/*pagination*/
.content-block .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content-block .pagination-btn {
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    color: var(--color-text-black);
    font-size: 1.1rem;
    text-align: center;
    padding: .25rem;
    margin-right: .5rem;
    cursor: pointer;
}
.content-block .pagination-btn:hover {
    color: var(--color-text-white);
    background: #AAAAAA;
}
.content-block .pagination p {
    margin-bottom: 0;
    cursor: pointer;
}



/*****************************************/
/************* PRODUCT PAGE ************/
/*****************************************/
/*header*/
.product-header {
    background-color: #111;
    min-height: 90px;
}
/*product content*/
.single-product {
    margin-top: 7rem;
}
/*product images*/
.single-product .product-img {
    position: relative;
}
.single-product .product-img img {
    width: 100%;
    border-radius: 10px;
}
.single-product .product-img .browse-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: .5rem;
    right: .5rem;
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    padding: .5rem;
    cursor: pointer;
}
.single-product .product-img .browse-btn img {
    height: 1.2rem;
    width: 1.2rem;
}
.single-product .product-gallery {
    display: flex;
    flex-direction: row;
}
.single-product .product-gallery .gallery-img {
    width: 8.75rem;
    height: 8.75rem;
    background: url(../img/products/pdoduct-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: .8rem .8rem .8rem 0;
    border-radius: 10px;
    cursor: pointer;
}

.single-product .product-gallery .inactive-img {
    box-shadow: inset 3009px 3000px rgba(255, 255, 255, 0.6);
}
/*product data*/
.single-product .product-data .bread-crumbs {
    margin: 0 0 1rem 0;
    padding: 0;
    color: #AAAAAA;
}
.single-product .product-data .bread-crumbs a {
    color: #AAAAAA;
}
.single-product .product-data h1 {
    font-family: var(--font-text);
    font-size: 2rem;
    font-weight: 400;
}
.single-product .product-data .price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-price);
}
.single-product .product-data .short-description {
    font-size: 1rem;
}
.single-product .product-data .variations {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.single-product .product-data .variations label {
    font-size: 1rem;
    font-weight: 700;
}
.single-product .product-data .variations select {
    border: 1px solid #AAAAAA;
    border-radius: 3px;
    background: transparent;
    height: 2.4rem;
}
.single-product .product-data .variations select:focus {
    outline: none;
}
.single-product .product-data .variations .colors {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.single-product .product-data .variations .colors .color-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
}
.single-product .product-data .variations .colors .color-item .color {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    
}
.single-product .product-data .variations  .colors .color-item .color-1{
    background: #715B51;
    
}
.single-product .product-data .variations .colors .color-item .color-2{
    background: #03555A;
    
}
.single-product .product-data .variations .colors  .selected-color {
   border: 1px solid #AAAAAA;
}
.single-product .product-data input[type=text] {
    width: 4rem;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    padding-left: .5rem;
    font-size: 1.1rem;
}
.single-product .product-data input[type=text]:focus {
    outline: none;
}
.single-product .product-data .add-to-cart-btn {
    width: 11.5rem;
    height: 2.4rem;
    border-radius: 1.5rem;
    background: var(--color-accent-button);
    color: var(--color-text-white);
    font-size: 1rem;
    outline: none;
    border: none;
    transition: all .2s;
    margin-left: 1rem;
    
}
.single-product .product-data .add-to-cart-btn:hover {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
    transition: all .2s;
}
.single-product .product-data .product-art {
    margin-top: 2rem;
    color: #AAAAAA;
}
.single-product .product-data .product-cat {
    margin-top: 1rem;
    color: #AAAAAA;
}

/*product tabs*/
.product-tabs {
    margin-top: 2rem;
}
.product-tabs .tab-name {
    display: flex;

}
.product-tabs .tab-title {
    padding: .5rem 0 .5rem 0;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: #AAAAAA;
    cursor: pointer;
    border-top: 3px solid transparent;
    
}
.product-tabs .active-tab {
    color: var(--color-text-black);
    border-top: 3px solid var(--color-text-black);
}
.product-tabs .tab-content {
    width: 60%;
    line-height: 1;
}


/*****************************************/
/************* ABOUT US PAGE ************/
/*****************************************/
.about-header {
    color: var(--color-text-white);
    padding-top: 10rem;
    background: url(../img/about/about-us.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: inset 3000px 3000px rgba(0, 0, 0, .6);
}
.about-header .about-title-wrapper h3 {
    font-size: 4rem;
}
.about-header .about-title-wrapper {
    padding: 1.5rem;
}
.about-content .img-right {
    margin: 2rem;
    float: left;
    border-radius: 50%;
}
.about-content .img-left {
    margin: 2rem;
    float: right;
    border-radius: 50%;
}
.about-content  p {
    margin-top: 3rem;
    width: 100%;
    font-size: 1.1rem;
}









/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
/*-----------MEDIAQUERIES-----------*/
@media  (max-width: 1199.98px) { 
    .categories-block .category-card .c-card {
         min-height: 8.75rem; 
    }

    .categories-block .category-card .c-card h3 {
        font-size: 1.2rem;
    }
 }
 
 
 
 @media (max-width: 960px) {
    /*-----------HEADER------------*/

    .main-navigation {
        background-color: rgba(0, 0, 0, .9);
        height: auto;
        min-height: auto;
        flex-direction: row;
    }
    .main-navigation .lang-switch {
        display: none;
    }
    .main-navigation .nav-desktop {
        display: none;
    }
    .main-navigation .nav-mobile {
        
        display: none;
    }

    .main-navigation .nav-mobile ul {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
        padding-left: 2rem;
        background: rgba(0, 0, 0, .9);
    }
    .main-navigation .nav-mobile ul li {
        margin-bottom: .5rem;
    }

    .main-navigation .cart-block .mob-menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1.5rem;
    }
    .main-navigation .cart-block .close-mob-menu-btn {
        display: none;
        justify-content: center;
        align-items: center;
        margin-left: 1.5rem;
    }

    .first-screen {
        background-size: auto 100%;
        animation: first-screen-bg-breathe-mob 30s linear infinite;
    }


    .categories-block .category-card .c-card h3 {
        font-size: 1.8rem;
    }

    .about-block .about-card {
        padding: 1rem;
        background-size: 110% !important;
        box-shadow: inset 1000px 1000px rgba(0, 0, 0, .5);
    }

    .products .product-card {
        margin-top: 2rem;
    }
    .products .product-data {
        position: static;
        opacity: 1;
        background: none;
        transform: none;
        padding-left: 0;
    }
    .products .product-data p {
        margin-top: .25rem;
        margin-bottom: .25rem;
    }


    .product-tabs .tab-content {
        width: 100%;
    }
    
  }

  @media screen and (min-width: 960px) and (max-width:1140px) {
    .main-navigation nav ul li {
        font-size: .7rem;
        margin-left: 1.4rem;
    }
  }
  @media screen and (min-width: 720px) and (orientation: landscape) {
    .first-screen {
        background-size: 100% auto;
        animation: first-screen-bg-breathe 30s linear infinite;
    }
  }

  

  @media (max-width: 576px) {

    .content-block  h2  {
        font-size: 1.6rem;
        margin-bottom: .25rem;
    }

    .categories-block {
        margin-top: 1rem;
    }
    
    .first-screen .title-wrapper h3 {
        font-size: 1rem;
        font-weight: 400;
    }

    .categories-block .category-card .c-card h3 {
        font-size: 1.4rem;
    }

    
    .about-block .about-card h3 {
        font-size: 1.6rem;
    }
    .about-block .about-card p {
        font-size: .8rem;
        line-height: 1.1;
        width: 100%;
    }

    .category-header .category-title-wrapper p {
        width: 100%;
    }

    .single-product .product-gallery .gallery-img {
        height: 6rem;
        width: 6rem;
    }
    .product-tabs .tab-name {
        flex-direction: column;
    
    }
  }